-r requirements.txt
black==23.11.0
bump2version==1.0.1
commitizen==3.12.0
freezegun==1.5.1
mock==5.1.0
pytest==8.3.3
pytest-anything==0.1.4
pytest_asyncio==0.21.1
pytest-cov==5.0.0
pytest-env==1.1.0
pytest-mock==3.12.0
pytest-watch==4.2.0
